@media screen and (max-width: 600px) {

    #bg-container {
        background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0,0.8)), url(background/deadpool.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }


   #box-container {
    display: flex;
    flex-direction: column;
   }

   .card {
    position: relative;
    bottom: 150px;
    right: 50px;
   }

   .description p {
    max-width: 350px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .itens {
    font-size: 0.8rem;
    position: relative;
    top: 50px;
   }

   .buttons {
    position: relative;
    top: 100px;
    right: 16px;
   }

   .btn1 {
    padding: 25px;
    font-size: 1.5rem;
   }

   .btn2{
    padding: 25px;
    font-size: 1.2rem;
   }
}